*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----NavBar------*/

body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 30px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right:20px;
}

a{
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    opacity: .6;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.slider{
    height: 100px;
    transform: translateY(-100px)
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: :space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 120px 0px;
    transition: transform 0.5s;
}

}
.row .col-2 img:hover{
    transform: translateY(-5px);
}

.col-2 h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 2em;
}

.col-2 p{
    color: #fff;
}

p{
    color: #555;
}

.btn{
    display: inline-block;
    background: #9bdc28;
    color: #555;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    opacity: .6;
}

.header{
    background: #2196f3;
}
.header .row{
    margin-top: 30px;
}

/*-------*/

.categories{
    margin: 10px 0;
}

.categories .col-3{
        padding-left: 50px;
}

.categories .col-3 img{
    width: 300px;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}

.col-3 h1{
    color: #555;
}

.col-3 img{
    width: 80%;
}

.col-3:hover{
    transform: translateY(-5px);
}

/*-----------*/

.small-container{
    max-width: :1080px;
    margin: auto;
    padding-left: 120px;
    padding-right: 100px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ccff33;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

col-4 p{
    font-size: 14px;
}

.rating p{
    color: #9bdc28;
}

.col-4:hover{
    transform: translateY(-5px);
}

/*-----------*/

.containertwo
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.containertwo .card2
{
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #2196f3;
}

.containertwo .card2 img
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: 0.5s;
}

.containertwo .card2:hover img
{
    left: 70%;
    height: 450px;
}

.containertwo .card2 .contentcard
{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.containertwo .card2:hover .contentcard
{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.containertwo .card2 .contentcard h2
{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}

.containertwo .card2 .contentcard p
{
    color: #fff;
}

.containertwo .card2 .contentcard a
{
    position: relative;
    color: #555;
    background: #9bdc28;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 30px;
}

/*-----------*/

.testimonial{
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 60px;
}

.testimonial .col-3{
    text-align: center;
    padding:40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-10px)
}

.testimonial .col-3 p{
    font-size: 13px;
    margin: 12px 0;
    color: #555
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*------------*/

.top img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

/*------------*/

.footer{
    background: #555;
    font-size: 14px;
    padding:60px 0 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
        
}

.footer p{
    color: #fff;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    padding-left: 50px;
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top 20px;
}

.app-logo img{
    width: 120px;
}

.footer hr{
    border: none;
    background:#b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 20px;
    margin-left: 20px;
    display: none;
}


/*------------*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #9bdc28;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ccff33;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: #555;
}

.page-btn span:hover{
    background: #9bdc28;
    color: #fff;
}

/*------------*/

.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product h3{
    color: #555;
}


.single-product p{
    color: #555;
    font-size: 13px;
}


.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #9bdc28;
}

input:focus{
    outline: none;
}

.small-img-row{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*------------*/

.comingsoon img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}


/*------------*/

.cart-page{
    padding-bottom: 90px;
}

.cart-page{
    margin: 80px auto;
}

.checkout .btn{
    float: right;
}

table{
    width: 100%;
    border-collapse: collapse;
}


.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #555;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #555;
    font-size: 12px;
}

td img{
    width: 100px;
    height: 50px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #555;
    width: 100%;
    max-width: 420px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}


/*------------*/

.account-page{
    padding: 50px 0px;
    background: #2196f3;
}

.form-container{
    background: #ccc;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: : 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    background: #9bdc28;
}

form .btn:focus{
    outline: none;
}

#LoginForm{
    left: -300px;
}

#RegForm{
    left: 0;
}

form a{
    font-size: 12px;
    color: #555;
}

#Indicator{
    width: 100px;
    border: none;
    background: #9bdc28;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/*------Index 3D Display Box------*/

.container3d
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container3d
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}

.container3d .box
{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #555;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container3d .box::before
{
    content: 'STYLE';
    position: absolute;
    top: 20px;
    left: -10px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
}

.container3d .box::after
{
    content: 'SHOP';
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container3d .box:hover::before,
.container3d .box:hover::after
{
    opacity: 0.04;
}

.container3d .box .name
{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container3d .box:hover .name
{
    top: 40px;
    opacity: 1;
}

.container3d .box .buy
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: :#333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container3d .box:hover .buy
{
    bottom: 30px;
    opacity: 1;
}

.container3d .box .circle
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%,0px);
}

.container3d .box .product
{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 250px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,0px) rotate(-15deg);
}

.container3d .box:hover .product{
    transform: translate3d(-50%,-50%,100px) rotate(-0deg);
}

.container3d .box:nth-child(1) .circle,
.container3d .box:nth-child(1) .buy
{
    background: #379bf7;
}

.container3d .box:nth-child(2) .circle,
.container3d .box:nth-child(2) .buy
{
    background: #9bdc28;
}

.container3d .box:nth-child(3) .circle,
.container3d .box:nth-child(3) .buy
{
    background: #fb4b4f;
}

/*-----About Us Page-------*/

.containerabout{
    max-width: 1300px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.col-about{
    flex-basis: 50%;
    min-width: 300px;
    text-align: center;
    padding-left: 50px;
}

.col-about img{
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: transform 0.5s;
}

.col-about img:hover{
    transform: translateY(-10px);
}

.col-about h1{
    font-size: 100 px;
    line-height: 80px;
    margin 25px 0;
    color: #555;
}

.col-about p{
    text-align: justify;
    color: #555;
}

.col-about .socialicon img{
    padding: 30px;
}

.padcol{
    transform: translateX(50px)
}

.wrapper{
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(34, 167, 240, 1);
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #555;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btnform input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
  width: 100%;
  background: #2196f3;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #9bdc28;
  color: #555;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

/*------Media Query------*/

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 60px;
        left: 0;
        background: none;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
    
    .containertwo .card2
    {
    width: auto;
    max-width: 600px;
    align-items: flex-start;
    }
    
    .containertwo .card2:hover
    {
        height: 600px;
    }

    .containertwo .card2:hover img
    {
        left: 50%;
        height: 350px;
    }
    
    .containertwo .card2 .contentcard
    {
        width: 100%;
        left: 0;
        padding: 40px;
    }
}
